{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/details.css' %}" />
  </head>
  <body>
    <div class="div_logo">
      <img src="../static/css/logo.png" alt="logo" class="logo" />
    </div>
    <div class="nav">
      <a href="{% url 'customer' %}"><button class="btn">Home</button></a>
      <a href="{% url 'chat' %}"><button class="btn">Chat</button></a>
      <a href="{% url 'logout_view' %}"><button class="btn">Logout</button></a>
    </div>

    <div class="cards">
      {% for a in a %}
        <div class="card" style="width: 18rem;">
          <img src="{{ a.image.url }}" class="card-img-top" alt="..." />
        </div>

        <div class="cardbody">
          <h5 class="card-title">{{ a.pet_name }}</h5>
          <p class="card-text">Age: {{ a.age }}</p>
          <p class="card-text">Price: {{ a.price }}</p>
          <p class="card-text">Medical conditions: {{ a.medical }}</p>
          <p class="card-text">Food: {{ a.food }}</p>
          <p class="card-text">{{ a.description }}</p>
        </div>
      {% endfor %}
    </div>
  </body>
</html>
